html{
    background-color: rgb(127, 255, 212);
    background-image: url("orangecat.png");
}
.adaapa{
    background-color: orangered;
    padding: 10px;
    color: #faebd7;
}
body.back2{
    background-color:rgba(137, 43, 226, 0.696);
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 3%;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0;
}
