html,
body {
    display: flex;
    padding: 50px;
    justify-content: center;
    margin: 0;
    background-color: rgb(52, 52, 52);
}
.wadah {
    display: block;
}
.wadah .container {
    background-color: #fff;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(50, 10px);
    grid-template-rows: repeat(50, 10px);
}
.wadah .container .items {
    background-color: red;
    /* int i; i/i+1 ; untuk sumbu x*/  
    grid-row: 6/5;  
    /* untuk sumbu y */
    grid-column: 3/2;
}
.wadah .activity {
    justify-content: center;
    display: grid;
    grid-template-columns: 90px 100px 90px;
    grid-template-rows: 50px 50px;
    grid-template-areas: 
        "kiri atas kanan"
        "kiri bawah kanan";
}
.wadah .activity button.up {
    grid-area: atas;
}
.wadah .activity button.down {
    grid-area: bawah;
}
.wadah .activity button.right {
    grid-area: kanan;
}
.wadah .activity button.left {
    grid-area: kiri;
}

.makan {
    display: none;
}